:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}
@media (min-width: 50em) {
    :root {
    font-size: 1.125em;
    }
  
}
    *,
*::before,
*::after {
box-sizing: inherit;
}
body {
margin: 0;
font-family: vazir;
}

a:link {
font-family: vazir;
color: white;
font-weight: bold;
text-decoration: none;
}
a:visited {
color: white;
}
a:hover {
text-decoration: underline;

}

@font-face {
    font-family: vazir;
    src: url(./vazir-font-v20.1.0/vazir.woff);
}
.topnav {
    overflow: hidden;
    background-color: #283593;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.active {
    background-color: #283593;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 50em) {
    
    .topnav a.icon {
      float: right;
      display: block;
    }
  
  }
  
  @media screen and (max-width: 50em) {
    .topnav.responsive {
        position: fixed;
    }
    /*.topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }*/
  }

.sidebar {
  margin: 0;
  padding: 0;
  width: 11.11em;
  background-color: #283593;
  position: fixed;
  height: 100%;
  overflow: hidden;
  right: 0;
  top: 3em;
  padding-top: 0.6em;
}

/**/
.nav-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav-menu > li > a {
  display: block;
  padding: 0.8em 1em;
  color: black;
  font-weight: normal;
}
/**/
 
  div.content {
    margin-right: 11.11em;
    padding: 1em;
    height: 55.55em;
    margin-top: 2.9em;
    background-color: #f1f1f1;
   
  }

  .dropdown-container {
    display: none;
  }
  .dropdown-container.activate{
    display: block;
  }
  @media screen and (max-width: 50em) {
    .sidebar{
        display: none;
    }
    .topnav.responsive .sidebar {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
    }
    .topnav.responsive .sidebar a {
        float: right;
    }

    div.content {
        margin-right: 0;
        background-color: #f1f1f1;
        margin-top: 3em;
    }
    .sidebar a {
      width: auto;
      text-align: right;
    }
  }
  
  @media screen and (max-width: 35em) {
    .topnav.responsive .sidebar a ,.dropdown-btn{
      text-align: center;
      float: none;
      font-size: initial;
    }
    div.content {
      margin-right: 0;
      background-color: #f1f1f1;
      margin-top: 3.6em;
  }
  }

  .user-list
  {
    border-radius: 0.5em;
  }

  .float-add {
    position:fixed; 
    border-radius:2.5em; 
    width:2.5em; 
    height:2.5em; 
    top:35em;
    left:2em;
    background-color: green;
    color:white;
    border: none;
    text-decoration: none;

    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .float-add:hover{
    text-decoration: none;
  }

  .float-add:visited{
    text-decoration: none;
  }

  .float-add:active{
    text-decoration: none;
  }