body{
    background-color: #dee5ed
}

.login-form{
    background-color: #fff;
    border-radius: 0.5em;
    border-top: 0.3em solid #3c8dbc;
}
.login-form input,select{
    width: 70% !important;
    float: left !important;
}
.center {
    margin: auto;
    padding: 1em;
    width: 40%;
    margin-top: 5em;
  }
  .form-group{
      margin-top: 1em;
  }
  .form-group h4{
      margin-bottom: 1em;
  }
  .btn-login{
    width: 70% !important;
   margin-right: 9em;
   background-color: #3c8dbc;
   color: #fff;
  }
  .signup{
      margin-top: 2em;
      text-align: center;
      font-size: 0.7em;
  }
@media screen and (max-width: 50em) {
    .center {
        width: 95%;
        margin-top: 7em;
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
    .login-form input,select{
        width: 100% !important;
        float: none !important;
    }
    .btn-login{
        width: 100% !important;
       margin-right: 0em;
      }
}

@media screen and (max-width: 35em) {
    .center {
        width: 95%;
        margin-top: 7em;
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
    .login-form input,select{
        width: 100% !important;
        float: none !important;
    }
    .btn-login{
        width: 100% !important;
       margin-right: 0em;
      }
}