.card{
  position: block !important;
}
.reqs{
    width: 30% !important;
     float: right;
      margin: 1em;
    
}
.collapse a{
    background-color: #808080;
}
.collapsee a{
  background-color: #808080;
}
@media screen and (max-width: 50em) {
  .reqs{
    width: 100% !important;  
    margin: 0;
  }

}
@media screen and (max-width: 35em) {
    .reqs{
        width: 100% !important; 
        margin-top:1em;
      }

}
