
@charset "utf-8";
/* CSS Document */

.box-of-data{
  border:0.01em solid #eee;
  background: #eee;
  margin: 0.2em;
  box-shadow: 1px 1px 3px #cac1c1;
  border-radius: 0.5em;
}
.box-of-data{
  width: 45%;
  background: white;
}

.btn{
margin-top: 0em;
}
.nav-tabs{
  direction: rtl !important;
}
@media screen and (max-width: 50em) {
  .box-of-data{
    width: 100%;
  }

}
@media screen and (max-width: 35em) {
  .box-of-data{
    width: 100%;
  }

}

